.form-help{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #b3b3b3;
    font-size: 13px;
}
.remember{
    display: flex;
    align-items: center;
    gap: 5px;
}
.remember input {
    width: 18px;
    height: 18px;
}
.form-swithc span{
    margin-left: 6px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;

}